@{
    ViewBag.Title = "Home Page";
}

<div class="py-5 px-2 col-12">
    <h1 class="">Welcome form communicator</h1>
    <p class=" lead">This is free to write blogs and comment each other...</p>
    <p class=""><a href=@Url.Action("Index","Blog") class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras malesuada porta nisl, vel euismod turpis finibus et. Ut iaculis vestibulum maximus. Proin tincidunt risus quis nibh tempor, eget tincidunt ipsum ullamcorper. Mauris et malesuada erat.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras malesuada porta nisl, vel euismod turpis finibus et. Ut iaculis vestibulum maximus. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras malesuada porta nisl, vel euismod turpis finibus et. Ut iaculis vestibulum maximus. Proin tincidunt risus quis nibh tempor, eget tincidunt ipsum ullamcorper. Mauris et malesuada erat. Morbi sit amet ultricies nunc.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>